<div class="column is-four-fifths">
    <div class="block homeblock">
        <h1 id="ohca-registry-slovenia-pilot-project">OHCA registry Slovenia - pilot project</h1>
        <h2 id="about">About</h2>
        <p>This is an interdisciplinary student project. It is run by University of Maribor Faculty of medicine. Our goal is to develop an open-source software to help track and analyse OHCA.</p>
        <blockquote>
            <p>⚙️ In depth documentation can be found on our <strong><a href="https://github.com/SterArcher/OHCA-registry-Slovenia/wiki#what-is-this-for">WIKI</a></strong>. ⚙️</p>
            <p>🚧 Our webpage <a href="https://siohca.um.si">siohca.um.si</a> is currently under development. 🚧</p>
        </blockquote>
        <h2 id="ohca">OHCA</h2>
        <p>Out-of-hospital cardiac arrest (OHCA) describes the loss of mechanical cardiac function and the absence of systemic circulation. Time is crucial, with a lack of perfusion leading to continual cell death; with each second that passes the possibility
            of a good outcome decreases. Despite a long history of trying to improve how we manage OHCA, survival remains dismally low. Only over the past 5 years have clinicians begun to see meaningful improvements in prognosis and neurological outcomes.
            Globally, it is estimated that on average, less than 10% of all patients with OHCA will survive. </p>
        <p><a href="https://doi.org/10.1016/S0140-6736(18">Lancet T. Out-of-hospital cardiac arrest: a unique medical emergency. The Lancet. 2018 Mar 10;391(10124):911. 
        </a>30552-X)</p>
        <h2 id="utstein-2015-ohca-reporting-template">Utstein 2015 OHCA reporting template</h2>
        <p>The Utstein Style is a set of guidelines for uniform reporting of cardiac arrest. The Utstein Style was first proposed for emergency medical services in 1991. The name derives from a 1990 conference of the European Society of Cardiology, the European
            Academy of Anesthesiology, the European Society for Intensive Care Medicine, and related national societies, held at the Utstein Abbey on the island of Mosterøy, Norway.</p>
        <p>You can access the complete consensus article <a href="https://www.ahajournals.org/doi/full/10.1161/CIR.0000000000000144">here</a>.</p>
        <h2 id="the-team">The team</h2>
        <p>Mentors</p>
        <ul>
            <li>Matej Strnad</li>
            <li>Miha Brezovnik.</li>
        </ul>
        <p>Students:</p>
        <ul>
            <li>Luka Petravić (please address all correspondence to this <a href="mailto:luka.petravic@student.um.si">email</a>)</li>
            <li>Rok Miklič</li>
            <li>Evgenija Burger</li>
            <li>Eva Poljanšek</li>
            <li>Urša Keše</li>
            <li>Domen Kulovec</li>
            <li>Gašper Tomšič</li>
            <li>Gašper Šircelj</li>
        </ul>
        <h2 id="funding">Funding</h2>
        <p>This project is funded by University of Maribor Faculty of medicine.</p>
        <h2 id="acknowledgements">Acknowledgements</h2>
        <p>We would like to thank:</p>
        <ul>
            <li><a href="https://lspo.feri.um.si/index-en.php">System Software Laboratory</a> for lending us their IT infrastructure</li>
            <li><a href="https://github.com/stefanb">Štefan Baebler</a> for giving us technical advice</li>
        </ul>
    </div>
</div>
