{% extends 'ohca/form_base.html' %}
{% load crispy_forms_tags %}
{% block content %}



    <h2 style="font-weight: 500;">Izpolnite podatke o dogodku</h2>
    
    <form method="POST">
        {% csrf_token %}
        {% load cache %}
        {% cache 86400 form3 %}
        <p> </p>
        <p> </p>


        Vpišite 12-mestno številko intervencije
        <p> </p>
        <p> </p>
        <div class="form-row">
            <div class="form-group col-md-1 mb-0">
                {{ form2.i1|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ form2.i2|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ form2.i3|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ form2.i4|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ form2.i5|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ form2.i6|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ form2.i7|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ form2.i8|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ form2.i9|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ form2.i10|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ form2.i11|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ form2.i12|as_crispy_field }}
            </div>
        </div>

        <script src="/static/js/intervention_id.js"></script>
        
        <div class="container">
            <div class="row">
                <div class="col-sm text-center">
                    <p>Dispečerski center</p>
                    <p id="dsz">-----</p>
                </div>
                <div class="col-sm text-center">
                    <p>Datum intervencije</p>
                    <p id="dateInt">--/--/----</p>
                </div>
                <div class="col-sm text-center">
                    <p>Dnevna št. intervencije</p>
                    <p id="intNum">-----</p>
                </div>
            </div>
        </div>
        

        {% for field in form1 %}

        {% if field.name == "name" %}
            <h2 style='font-weight: 600; font-size: 25px'> 1. Podatki o pacientu </h2>
            <p>{{ field|as_crispy_field }}</p>

        {% elif field.name == "reaConf" %}
            <h2 style='font-weight: 600; font-size: 25px'> 2. Osnovni podatki</h2>
            <p>{{ field|as_crispy_field }}</p>

        {% elif field.name == "reaTimestamp" %}
            <h2 style='font-weight: 600; font-size: 25px'> 3. Časovnica</h2>
            <p>{{ field|as_crispy_field }}</p>

        {% elif field.name == "stemiPresent" %}
            <h2 style='font-weight: 600; font-size: 25px'> 4. Podatki o srčnem zastoju</h2>
            <p>{{ field|as_crispy_field }}</p>

        {% elif field.name == "dispIdentifiedCA" %}
            <h2 style='font-weight: 600; font-size: 25px'> 5. Odziv dispečerja</h2>
            <p>{{ field|as_crispy_field }}</p>

        {% elif field.name == "helperWho" %}
            <h2 style='font-weight: 600; font-size: 25px'> 6. Prvi posredovalci </h2>
            <p>{{ field|as_crispy_field }}</p>

        {% elif field.name == "organDonation" %}
            <h2 style='font-weight: 600; font-size: 25px'> 7. Ritem</h2>
            <p>{{ field|as_crispy_field }}</p>



        {% elif field.name == "rosc" %}
            <h2 style='font-weight: 600; font-size: 25px'> 8. Izhod po oživljanju </h2>
            <p>{{ field|as_crispy_field }}</p>

        {% elif field.name == "ttm" %}
            <h2 style='font-weight: 600; font-size: 25px'> 9. Zdravljenje </h2>
            <p>{{ field|as_crispy_field }}</p>

            {% elif field.name == "ph" %}
            <h2 style='font-weight: 600; font-size: 25px'> 10. Laboratorijski izvidi </h2>
            <p>{{ field|as_crispy_field }}</p>

        {% elif field.name == "discDate" %}
            <h2 style='font-weight: 600; font-size: 25px'> 11. Dolgotrajen izid </h2>
            <p>{{ field|as_crispy_field }}</p>
        

        {% elif field.name == "ssep" %}
            <h2 style='font-weight: 300; font-size: 20px'> Nevroprognostični testi </h2>
            <p>{{ field|as_crispy_field }}</p>

        {% else %}
            <p>{{ field|as_crispy_field }}</p>

        {% endif %}
        {% endfor %}
        <script src="/static/js/formPersistence.js"></script>
        <input type="submit" class="btn btn-dark" value="Submit" onclick="saveFormToCookie()">
        {% endcache %}
    </form>

{% endblock %}